.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: var(--container-padding);
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: min(500px, 90%);
    padding: clamp(15px, 3vw, 20px);
    border-radius: 10px;
    background-color: var(--bg-color-light);
    border: solid 2px var(--border-color);
}

.login-card input {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border-radius: 5px;
    border: 2px transparent solid;
    outline: none;
    font-size: clamp(0.875rem, 2vw, 1rem);
    font-weight: 600;
    color: var(--text-color-dark);
}

.login-card input:focus {
    border: var(--primary-color) solid 2px;
    outline: none;
}